.editor {
  box-sizing: border-box;
  border-left: 2px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin: 50px 150px;
  background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 240px;
}

.headlineButtonWrapper {
  display: inline-block;
}

.headlineButton {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 1px solid;
  border-radius: 2px;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
  background: #f3f3f3;
}